:root.theme-dark {
    --page-bg-color: var(--approximately-black);
    --accent-color: var(--real-red);
    --title-color:  #db00ff;
    --header-text-bg-color: var(--real-red);
    --header_text-color: var(--approximately-black);
    --question-bg-color: var(--approximately-black);
    --question-color: var(--real-red);
    --card-title-bg-color: var(--real-red);
    --card-title-color: var(--approximately-black);
    --card-text-bg-color: var(--approximately-black);
    --card-text-color: #f1b2ce;
    --advice-title-bg-color: var(--real-red);
    --advice-title-color: var(--approximately-black);
    --button-color: var(--real-red);
    --rec-color: var(--real-red);
    --border-color-opacity: #FF007066;
    --background-image:  url("../images/cover-image-dark.png");
    --deco-color: var(--real-red);
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg-color: var(--approximately-black);
    --accent-color: var(--real-red);
    --title-color:  #db00ff;
    --header-text-bg-color: var(--real-red);
    --header-text-color: var(--approximately-black);
    --question-bg-color: var(--approximately-black);
    --question-color: var(--real-red);
    --card-title-bg-color: var(--real-red);
    --card-title-color: var(--approximately-black);
    --card-text-bg-color: var(--approximately-black);
    --card-text-color: #f1b2ce;
    --advice-title-bg-color: var(--real-red);
    --advice-title-color: var(--approximately-black);
    --button-color: var(--real-red);
    --rec-color: var(--real-red);
    --border-color-opacity: #FF007066;
    --background-image:  url("../images/cover-image-dark.png");
    --deco-color: var(--real-red);
  }
}

.theme-dark .rec_empty::before,
.theme-dark .rec_empty::after {
  display: inline-block;
}