.page {
  font-family: var(--project-font-family);
  font-weight: bold;
  font-size: var(--regular-font-size);
  line-height: 1.3;
  background-color: var(--page-bg-color);
  background-attachment: fixed;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  height: 100vh;
  min-height: 668px;
  font: inherit;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  position: relative;
  align-items: center;
  padding: var(--decoration-gap) 0;
}

.header_text {
  background-color: var(--header-text-bg-color);
  color: var(--header-text-color);
  font-weight: bold;
  font-size: inherit;
  margin: var(--decoration-gap);
  font: inherit;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 4px 13px;
  background-color: inherit;
  border: none;
  font-size: var(--regular-font-size);
  line-height: var(--regular-line-height);
  text-transform: lowercase;
  color: var(--button-color);
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--border-color-opacity);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu {
  justify-self: end;
  margin: auto var(--decoration-gap);
}
