/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: black;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}
