.page {
  font-family: var(--project-font-family);
  font-weight: bold;
  font-size: var(--regular-font-size);
  line-height: 1.3;
  background-color: var(--page-bg-color);

  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
